
    <div class="main">
        <div class="header">
            <div class="profile-info">
                <img src="./images.jpeg" alt="foto criança">
                <h2 id="headerName">Pipoca</h2>
            </div>
        </div>
        <div class="info-box">
            <div class="info-item">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" id="endereco" placeholder="Endereço">
            </div>
            <div class="info-item">
                <i class="fa-solid fa-phone"></i>
                <input type="text" id="telefone" placeholder="Telefone">
            </div>
            <div class="info-item">
                <i class="fa-solid fa-user"></i>
                <textarea id="sobre" placeholder="Sobre mim"></textarea>
            </div>
            <button id="salvarInfo"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
        </div>
    </div>
